<!-- 
=====================================================================
Total tareas 
===================================================================== 
-->
<div class="row">
    <div class="col-md-12">
        <div class="text-left">
            <button routerLink="/dashboard" type="button" class="btn btn-rounded btn-outline-primary">
                <i class="fa fa-rotate-left"> Atrás</i>
            </button>
        </div>
        <div class="text-right">
            <button [routerLink]="['/observacion','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                <i class="fa fa-plus"></i>
                Crear Observacion Preventiva
            </button>
        </div>

    </div>
</div>

<br>

<div class="row animated bounceInDown">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <input (keyup)="buscarObservacionPendienteRealizar( input.value )" #input type="text" class="form-control" placeholder="Buscar tarea...">

            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInRight" *ngIf="cargando">
    <div class="col">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Tareas Caducadas</h1>
                <h3 class="card-subtitle">Total tareas ( <small> {{ totalRegistros }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Usuario Asigando</th>
                            <th>Formulario</th>
                            <th>Zona</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacion of observaciones">
                            <td> {{ observacion.fecha | date:'dd/MM/yyyy' }} </td>
                            <td class="badge badge-danger"> Caducada </td>
                            <td> {{ observacion.usuario.nombre + ' ' + observacion.usuario.apellido + ' ' + observacion.usuario.segundoapellido }} </td>
                            <td> {{ observacion.formulario }} </td>
                            <td> {{ observacion.zona }} </td>
                            <td>
                                <button (click)="recordatorio( observacion.usuario.nombre, observacion.usuario.apellido )" type="submit" class="btn btn-warning" style="margin: 10px">
                                    <i class="fa fa-envelope-open-o"> Recordatorio</i>
                                </button>

                                <button [routerLink]="['/modificar-op/', observacion._id ]" class="btn btn-primary" style="margin: 10px">
                                    <i class="fa fa-refresh"> Reasignar</i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5, 'Pendiente Realizar')" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5, 'Pendiente Realizar')" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>


<!-- 
=====================================================================
Total tareas Pendiente realizar
===================================================================== 
-->
<!-- 
<div class="row animated bounceInDown">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input (keyup)="buscarObservacion( input.value )" #input type="text" class="form-control" placeholder="Buscar tarea...">

            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInRight" *ngIf="cargandoPendienteRealizar">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargandoPendienteRealizar">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="cardtitle">Total tareas Pentientes de Realizar( <small> {{ totalRegistrosPendienteRealizar
                        }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Fecha creación</th>
                            <th>Usuario Asigando</th>
                            <th>Formulario</th>
                            <th>Zona</th>
                            <th>Fecha</th>
                            <th>Repetición</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacionPendienteRealizar of observacionesPendienteRealizar">
                            <td> {{ observacionPendienteRealizar.fechacreacion | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionPendienteRealizar.usuario.nombre + ' ' +
                                observacionPendienteRealizar.usuario.apellido + ' ' +
                                observacionPendienteRealizar.usuario.segundoapellido }} </td>
                            <td> {{ observacionPendienteRealizar.formulario }} </td>
                            <td> {{ observacionPendienteRealizar.zona }} </td>
                            <td> {{ observacionPendienteRealizar.fecha | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionPendienteRealizar.repeticion }} </td>
                            <td class="badge badge-warning"> {{ observacionPendienteRealizar.estado }} </td>
                            <td>
                                <button (click)="borrarObservacion( observacionPendienteRealizar )" type="submit" class="btn btn-danger"
                                    style="margin: 10px">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <button [routerLink]="['/observacion/', observacion._id ]" class="btn btn-warning">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="validarObservacion( observacionPendienteRealizar )" type="submit"
                                    class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5, 'Pendiente Realizar')" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5, 'Pendiente Realizar')" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div> -->

<!-- 
=====================================================================
Total tareas Pendiente Aprobacion
===================================================================== 
-->

<div class="row animated bounceInDown">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <input (keyup)="buscarObservacionPendienteRealizar( input.value )" #input type="text" class="form-control" placeholder="Buscar tarea...">

            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInRight" *ngIf="cargandoPendienteAprobacion">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="!cargandoPendienteAprobacion">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="cardtitle">Total tareas Pentientes de Aprobacion( <small> {{
                        totalRegistrosPendienteAprobar }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive ">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Usuario Asigando</th>
                            <th>Formulario</th>
                            <th>Tipo</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacionPendienteAprobacion of observaciones">
                            <td> {{ observacionPendienteAprobacion.fecha | date:'dd/MM/yyyy' }} </td>
                            <td class="badge badge-primary"> {{ observacionPendienteAprobacion.estado }} </td>
                            <td> {{ observacionPendienteAprobacion.usuario.nombre + ' ' + observacionPendienteAprobacion.usuario.apellido + ' ' + observacionPendienteAprobacion.usuario.segundoapellido }} </td>
                            <td> {{ observacionPendienteAprobacion.formulario }} </td>
                            <td> {{ observacionPendienteAprobacion.zona }} </td>
                            <td>
                                <div>
                                    <button [routerLink]="['/formulario/']" class="btn btn-warning" style="margin: 2px">
                                        <i class="fa fa-file"> Leer</i>
                                    </button>


                                    <button (click)="aprobarObservacion( observacionPendienteAprobacion )" type="submit" class="btn btn-success">
                                        <i class="fa fa-check"> Validar</i>
                                    </button>

                                    <button (click)="borrarObservacion( observacionPendienteAprobacion )" type="submit" class="btn btn-danger" style="margin: 2px">
                                        <i class="fa fa-window-close"> Rechazar</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5, 'Pendiente Aprobacion')" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5, 'Pendiente Aprobacion')" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================================================
Historico tareas 
===================================================================== 
-->

<div class="row animated bounceInDown">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <input (keyup)="buscarObservacionPendienteRealizar( input.value )" #input type="text" class="form-control" placeholder="Buscar tarea...">

            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInRight" *ngIf="cargando">
    <div class="col">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Histórico de Tareas</h1>
                <h3 class="card-subtitle">Total tareas ( <small> {{ totalRegistros || 16 }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Usuario Asigando</th>
                            <!-- quien -->
                            <th>Formulario</th>
                            <!-- el que -->
                            <th>Tipo</th>
                            <!-- donde -->
                            <th>Realizado</th>
                            <!-- cuando hizo -->
                            <th>Validado</th>
                            <!-- cuando ok -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacion of observaciones">
                            <td> {{ observacion.usuario.nombre + ' ' + observacion.usuario.apellido + ' ' + observacion.usuario.segundoapellido }} </td>
                            <td> {{ observacion.formulario }} </td>
                            <td> {{ observacion.zona }} </td>
                            <td> {{ observacion.fechacreacion | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacion.fecha | date:'dd/MM/yyyy' }} </td>
                            <td>

                                <button [routerLink]="['/observacion/', observacion._id ]" class="btn btn-primary" style="margin: 10px">
                                    <i class="fa fa-eye"> Abrir</i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5, 'Pendiente Realizar')" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5, 'Pendiente Realizar')" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================================================
Total tareas Aprobadas
===================================================================== 
-->

<!-- <div class="row animated bounceInRight" *ngIf="cargandoAprobadas">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargandoAprobadas">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="cardtitle">Total tareas Aprobadas ( <small> {{
                        totalRegistrosAprobadas }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Fecha creación</th>
                            <th>Usuario Asigando</th>
                            <th>Formulario</th>
                            <th>Zona</th>
                            <th>Fecha</th>
                            <th>Repetición</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacionAprobada of observacionesAprobadas">
                            <td> {{ observacionAprobada.fechacreacion | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionAprobada.usuario.nombre + ' ' +
                                observacionAprobada.usuario.apellido + ' ' +
                                observacionAprobada.usuario.segundoapellido }} </td>
                            <td> {{ observacionAprobada.formulario }} </td>
                            <td> {{ observacionAprobada.zona }} </td>
                            <td> {{ observacionAprobada.fecha | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionAprobada.repeticion }} </td>
                            <td class="badge badge-success"> {{ observacionAprobada.estado }} </td>
                            <td>
                                <button (click)="borrarObservacion( observacionAprobada )" type="submit" class="btn btn-danger"
                                    style="margin: 10px">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <button [routerLink]="['/observacion/', observacion._id ]" class="btn btn-warning">
                                    <i class="fa fa-edit"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5, 'Aprobada')" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5, 'Aprobada')" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div> -->



<!-- 
=====================================================================
Total tareas Realizadas
===================================================================== 
-->

<!-- <div class="row animated bounceInRight" *ngIf="cargandoRechazadas">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargandoRechazadas">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="cardtitle">Total tareas Rechazadas( <small> {{
                        totalRegistrosRechazadas }} </small> ) </h3>

                <table class="table table-hover table-striped table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th>Fecha creación</th>
                            <th>Usuario Asigando</th>
                            <th>Formulario</th>
                            <th>Zona</th>
                            <th>Fecha</th>
                            <th>Repetición</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacionRechazada of observacionesRechazadas">
                            <td> {{ observacionRechazada.fechacreacion | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionRechazada.usuario.nombre + ' ' +
                                observacionRechazada.usuario.apellido + ' ' +
                                observacionRechazada.usuario.segundoapellido }} </td>
                            <td> {{ observacionRechazada.formulario }} </td>
                            <td> {{ observacionRechazada.zona }} </td>
                            <td> {{ observacionRechazada.fecha | date:'dd/MM/yyyy' }} </td>
                            <td> {{ observacionRechazada.repeticion }} </td>
                            <td class="badge badge-danger"> {{ observacionRechazada.estado }} </td>
                            <td>
                                <button (click)="borrarObservacion( observacionRechazada )" type="submit" class="btn btn-danger"
                                    style="margin: 10px">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <button [routerLink]="['/observacion/', observacion._id ]" class="btn btn-warning">
                                    <i class="fa fa-edit"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button (click)="cambiarDesde(-5, 'Rechazada')" class="btn btn-secondary">Anteriores</button>
                    <button (click)="cambiarDesde(5, 'Rechazada')" class="btn btn-secondary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>
</div> -->