<div class="text-left">
    <button routerLink="/dashboard" type="button" class="btn btn-rounded btn-outline-warning">
        <i class="fa fa-rotate-left"> Atrás</i>
    </button>
</div>

<br>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{ graficos.grafico1.leyenda }}</h4>

                <app-grafico-dona [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data"
                    [doughnutChartType]="graficos.grafico1.type"></app-grafico-dona>

            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Comparativa </h4>

                <app-grafico-barras></app-grafico-barras>

            </div>
        </div>
    </div>
</div>

