<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body" id="bg-principal">
                <h1 class="card-title">Menú Principal</h1>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group float-right" role="group">
                            <a [routerLink]="[ '/evalua' ]" class="btn">
                                <img src="../../../assets/images/icon/evalua.png" class="pointer img-icon animated bounceInDown">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group float-right" role="group">
                            <a [routerLink]="[ '/planifica' ]" class="btn">
                                <img src="../../../assets/images/icon/planifica.png" class="img-icon pointer animated bounceInLeft">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group float-right" role="group">
                            <a [routerLink]="[ '/mapa' ]" class="btn">
                                <img src="../../../assets/images/icon/mapa.png" class="img-icon pointer animated bounceInRight">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group float-right" role="group">
                            <a [routerLink]="[ '/acepta' ]" class="btn">
                                <img src="../../../assets/images/icon/acepta.png" class="img-icon pointer animated bounceInUp">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>